@for $i from 1 through $grid-columns {
  .col-#{$i} {
    width: calc((100% / 12) * #{$i});
  }
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-right: 20px;
  padding-left: 20px;

  max-width: 1200px;

  @media (max-width: 576px) {
    max-width: 100%;
  }
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.col {
  flex: 0 0 100%;
  max-width: 100%;
  padding-right: 15px;
  padding-left: 15px;

  @media (min-width: 576px) {
    flex: 0 0 50%; // Two columns in a row
    max-width: 50%;
  }

  @media (min-width: 768px) {
    flex: 0 0 33.33333%; // Three columns in a row
    max-width: 33.33333%;
  }
}

@each $breakpoint, $value in $breakpoints {
  @media (min-width: $value) {
    @for $i from 1 through $grid-columns {
      .col-#{$breakpoint}-#{$i} {
        width: calc((100% / 12) * #{$i});
      }
    }
  }
}
