.form-control {
  width: 100% !important;
  padding: 10px;
  border: 2px solid lightgray;
  font-size: 16px;
  color: map-get($colors, secondary);

  &:focus {
    border-color: map-get($colors, info);
    outline: 0;
    box-shadow: 0 0 0 0 2rem rgba(0, 123, 255, 0.25);
  }
}

.counter {
  .btn-counter {
    font-size: 15px;
    cursor: pointer;
    background-color: map-get($colors, gray);
    color: map-get($colors, dark);
    border: 1px solid lightgray;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: map-get($colors, secondary);
    }
  }

  .input {
    width: 100px;
    text-align: center;
    font-size: 1rem;
    border: 1px solid lightgray;
    padding: 10px;
    outline: none;
    color: map-get($colors, secondary);
  }
}

.real-radio {
  width: 0;
  height: 0;
  position: absolute;
  opacity: 0;
}
.custom-radio {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 30px;
  background-color: map-get($colors, light) !important;
  border: 2px solid map-get($colors, secondary);
  border-radius: 50%;
  margin-left: 5px;
  vertical-align: text-top;
  cursor: pointer;

  &:hover {
    border: 2px solid map-get($colors, dark);
  }

  i {
    position: absolute;
    display: inline-block;
    text-align: center;
    padding-top: 5px;
    color: map-get($colors, light);
    font-size: 20px;
    width: 30px;
    height: 30px;
    background: map-get($colors, secondary);
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 0.2s ease-in;
  }
}

.real-radio:checked + .custom-radio i {
  transform: translate(-50%, -50%) scale(1);
}
